Screen {
	layout: vertical;
}
Container#header {
	height: auto;
	width: 100%;
	layout: horizontal;
	align: center middle;
	padding: 1 1;
	border-bottom: solid white;
}
Container#content {
	height: 1fr;
	width: 100%;
	padding: 1;
	align: center middle;  /* Align content in the center */
}
Container#home-container {
	layout: vertical;
	align: center middle;
}
Static.welcome-message {
	text-align: center;
	margin: 1 0;
}
Static#description {
	text-align: center;
	margin: 1 0;
}
Button {
	width: auto;
	margin: 1;
}
Container#events-container {
	layout: vertical;
	height: 1fr;
	overflow: scroll;
	padding: 1;
	background: black;
}
Container.event-container {
	layout: horizontal;
	width: 100%;
	height: 50%;
	margin: 1;
	background: #202020;
	border: white;
}
Container.button-container {
	align: right middle;
}
Container#event-details-container {
	layout: vertical;
	height: 1fr;
	overflow: auto;
	padding: 1;
	align: left middle;
}
Container#event-details-container {
	layout: vertical;
	height: 1fr;
	overflow: auto;
	padding: 1;
	background: black;
	align: left middle;
}
